<button class="m-2 px-4 py-2 btn btn-outline-dark rounded-pill" (click)="routeToAdmin()">Back</button>

<div class=" container  mx-auto  row p-2 border border-dark rounded ">
    <div class="card-group">
        <div class=" card col-12 col-sm-12 col-md-12 col-lg-7 p-2 py-4">
            <img src="{{image.src}}" class="img-fluid w-100 " >
        </div>
        <div class="card col-12 col-sm-12 col-md-12  col-lg-5  border border-secondary rounded p-2">
            <form #ref="ngForm" (ngSubmit)="ref.form.valid && onSubmit(ref)">
            <div class="row">
                <div class="col-5 "><h2 class="ps-2 my-auto pt-1"> Title : </h2></div>
                <div class="col-7 py-2 my-auto"><h4> {{image.title}}</h4></div>
            </div>
            <button class="col bg-light btn d-block mx-auto" type="button" data-bs-toggle="modal" data-bs-target="#Backdrop"><h3>Comments</h3></button>
            <h3 class="ps-2 py-2"> Description : </h3>
            <textarea *ngIf="e" name="description" class="form-control px-5" cols="30" rows="3" ngModel requried></textarea>
            <div *ngIf="!e" class="border border-secodary p-2 rounded mb-5">
                {{image.description}}
            </div>
            <div class=" row d-flex justify-content-around p-2 my-4 ">
                <div *ngIf="e" class='col-6 text-white text-center mb-2' style="position: absolute ; bottom : 0; left :0"><button type="submit" class="btn btn-success rounded-pill py-2 px-4">Confirm</button></div>
                <div *ngIf="!e" class='col-6 text-white text-center mb-2' style="position: absolute ; bottom : 0; left :0"><button class="btn btn-dark rounded-pill py-2 px-4" (click)="edit()">Edit</button></div>
                <div *ngIf="e" class='col-6 text-white text-center mb-2' style="position: absolute ; bottom : 0; right :0"><button class="btn btn-danger rounded-pill py-2 px-4" (click)="cancel()">Cancel</button></div>
                <div *ngIf="!e" class='col-6 text-white text-center mb-2' style="position: absolute ; bottom : 0 ;right : 0"><button class="btn btn-danger rounded-pill py-2 px-4" (click)="delete()">Delete</button></div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" id="Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="BackdropLabel">Comments</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let c of image.comments" class="m-3 border rounded bg-light border-secondary p-3">
          <div class='row'>
              <div class="col-3"><b>{{c.name}}</b></div>
              <div class="col-9">{{c.commentDescription}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>