<nav class="navbar navbar-expand-sm navbar-light bg-light border border-bottom-dark border-1">
  <div class="container-fluid">
    <b class="navbar-brand mb-0 ms-4">Gallery</b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-4 ms-auto my-2 mb-lg-0">
        <li class="nav-item mx-2  text-center display-sm-block">
          <button class="nav-link mx-auto btn-sm btn-light border border-3 rounded-pill text-dark px-3"  routerLink="images" routerLinkActive="active"> Images </button>
        </li>
        <li class="nav-item mx-2 display-sm-block">
          <button *ngIf="!login" class="nav-link mx-auto btn-sm btn-light border border-3 rounded-pill px-3 text-dark"  data-bs-toggle="modal" data-bs-target="#Modal">Login</button>
          <button *ngIf="login" class="nav-link mx-auto btn-sm btn-light border border-3 rounded-pill px-3 text-dark"  (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade border rounded" id="Modal"  data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form #ref="ngForm" (ngSubmit)="ref.form.valid && onLogin(ref)">
        <div class="modal-header">
          <h4 class="modal-title mx-auto" id="ModalLabel">Login as Admin</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="Username" class="form-label">Username</label>
              <input type="text" class="form-control" id="Username" name="Username" ngModel  required #refUsername="ngModel">
              <p class="text-danger" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required" >*Username is required</p>  
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="Password" name="Password" ngModel required #refPassword="ngModel">
              <p class="text-danger" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required" >*Password is required</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>