<div class="text-center">
  <button  class="m-2 px-4 py-2 btn btn-outline-dark rounded-pill" (click)="routeToAdd()">Add Image</button>
  <button  class="m-2 px-4 py-2 btn btn-outline-dark rounded-pill" (click)="onClickShowButtons('images')">Show Images</button>
  <button  class="m-2 px-4 py-2 btn btn-outline-dark rounded-pill" (click)="onClickShowButtons('arts')">Show Arts</button>
</div>


<div class="p-4 g-2 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col card " *ngFor="let image of imageDetailsList">
      <button class="btn" (click)="routeToAdminImage(image.key)">
        <div class=" h-100 img__wrap">
          <img class="img-fluid my-auto" src={{image.src}}>
          <span class="rounded-top py-2 text-center img__description">{{image.title}}</span>
        </div>
      </button>
    </div>
  </div>