<button class="btn btn-secondary px-3 m-3 rounded-pill" (click)="routeToHome()"><i class="fas fa-arrow-left "></i></button>

<div class="container border border-1 rounded my-4">
    <img src="{{image.src}}" class="img-fluid w-100 mb-3">
    <h2 class="p-2 text-center bg-light border rounded ">{{image.title}}</h2>
    <div class="row row-cols-2 p-2">
        <div class="col text-center bg-light py-2 rounded">
            <button *ngIf="!likeClick" class="btn" (click)="liked()">
                <i class="far fa-heart fa-2x"></i>
            </button>
            <button *ngIf="likeClick" class="btn" (click)="liked()">
                <i class="fas fa-heart fa-2x text-danger"></i>
            </button>
            <h5>Like</h5>
        </div>
        <div class="col mx-auto btn bg-light" (click)="buttonComment()"><i class="far fa-comment fa-2x"></i> <h5>Comment</h5></div>
    </div>
    <div *ngIf="commentClick && !submitted" class="py-2 px-4 border rounded border-secondary bg-light">
        <form #ref="ngForm" (ngSubmit)="ref.form.valid && submitComment(ref)">
            <div class="row my-2">
                <div class="col-4 col-sm-3 col-md-2">
                    <label for="Username" class="form-label"><h6>Name</h6></label>
                </div>
                <div class="col-8 col-sm-6 col-md-4">
                    <input type="text" class="form-control" id="Username" name="name" ngModel  required #commentName="ngModel" autocomplete="off">  
                    <p *ngIf="ref.submitted && commentName.errors?.required" class="text-danger">Enter your Name !!</p>
                </div>
                <div class="col-sm-3 col-md-6"></div>
            </div>   
            <h6>Comment</h6>
            <textarea class="form-control my-2" name="commentDescription" cols="30" rows="2" required ngModel #commentDescription="ngModel"></textarea>
            <p *ngIf="ref.submitted && commentDescription.errors?.required" class="text-danger">Comment cannot be empty</p>
            <div class="text-center py-2">
                <button type="submit" class='btn btn-primary rounded-pill mx-4'>Submit</button>
                <button class="btn btn-danger rounded-pill mx-4" (click)="cancel()"><i class="fas fa-times text-white me-2"></i>Cancel</button>
            </div>
        </form>
    </div>

    <div *ngIf="commentClick && submitted" class='p-2'>
        <div class="border rounded p-2"> <h5 class="text-center">Thanks for the feedback !!!</h5></div>
    </div>

    <div class="my-3">
        <h4>Description :</h4>
        <div class="border rounded bg-light p-2"> {{image.description}}</div>
    </div>
</div>